streamlit==1.39.0
pillow
numpy==1.23.5
pandas==1.5.3
opencv-python-headless==4.7.0.72
ultralytics==8.0.20
onnxruntime
scikit-learn==1.2.2
matplotlib
seaborn
streamlit-lottie

# MAIN HERO
tensorflow==2.9.0
protobuf==3.20.3
