streamlit==1.39.0
pillow
numpy==1.23.5
pandas==2.0.3
opencv-python-headless==4.7.0.72
ultralytics==8.0.20
onnxruntime
scikit-learn
python-multipart
matplotlib
seaborn
imageio
requests
python-json-logger
streamlit-lottie
tensorflow==2.9.0
